<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comptes</title>
</head>
<body>
    <h2>List of Comptes</h2>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom d'utilisateur</th>
            <th>Mot de passe</th>
            <th>Premium</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="compte : ${comptes}">
            <td th:text="${compte.id_compte}"></td>
            <td th:text="${compte.nom_utilisateur}"></td>
            <td th:text="${compte.motDePasse}"></td>
            <td th:text="${compte.premium}"></td>
            <td>
                <form action="/comptesChoice" method="post">
                    <input type="hidden" name="compteId" th:value="${compte.id_compte}">
                    <button type="submit">Edit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="/comptes/addForm" method="post">
        <button type="submit">Ajouter un compte</button>
    </form>
    <form action="/logout" method="post">
        <button type="submit">Deconnexion</button>
    </form>
    <form action="/armes">
        <button type="submit">Liste des Armes</button>
    </form>
    <a href="http://localhost:8080/JSON/armes"> Liste des Armes JSON </a>

    <form action="/classes">
        <button type="submit">Liste des Classes</button>
    </form>
    <a href="http://localhost:8080/JSON/classes"> Liste des Classes JSON </a>
    <form action="/personnages">
        <button type="submit">Liste des Personnages</button>
    </form>
    <a href="http://localhost:8080/JSON/personnages">Liste des Personnages JSON </a>

</body>
</html>