<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/classes/edit" method="post">
  <table border="1">
    <thead>
    <tr>
      <th>Nom de la classe</th>
      <th>Puissance</th>
      <th>Agileté</th>
      <th>Constitution</th>
      <th>Intelligence</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="text" name="nom_classe" th:value="${classe.nom_classe}"  required/></td>
      <td><input type="number" name="puissance" th:value="${classe.puissance}"  required/></td>
      <td><input type="number" name="agilete" th:value="${classe.agilete}"  required/></td>
      <td><input type="number" name="constitution" th:value="${classe.constitution}"  required/></td>
      <td><input type="number" name="intelligence" th:value="${classe.intelligence}"  required/></td>
      <td>
        <input type="hidden" name="classeId" th:value="*{classe.id_classe}">
        <button type="submit">Sauvegarder</button>
      </td>
      </td>
    </tr>
    </tbody>
  </table>
</form>
</body>
</html>