<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compte</title>
</head>
<body>
<form action="/comptes/edit" method="post">
  <table border="1">
    <thead>
    <tr>
      <th>Nom d'utilisateur</th>
      <th>Mot de passe</th>
      <th>Premium</th>
      <th>Nombre de personnages</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="text" name="nom_utilisateur" th:value="${compte.nom_utilisateur}"></td>
      <td><input type="password" name="motDePasse" th:value="${compte.motDePasse}"></td>
      <td><input type="checkbox" name="premium" th:checked="${compte.premium}"></td>
      <td><input type="number" name="nombre_personnages" th:value="${compte.nombre_personnages}"></td>
      <td>
          <input type="hidden" name="compteId" th:value="*{compte.id_compte}">
          <button type="submit">Sauvegarder</button>
      </td>
    </tr>
    </tbody>
  </table>
</form>
</body>
</html>