<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
      <thead>
      <tr>
        <th>Nom du personnage</th>
        <th>Niveau</th>
        <th>Compte</th>
        <th>Classe</th>
        <th>Arme</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td th:text="${personnage.nom_personnage}"></td>
      <td th:text="${personnage.niveau}"></td>
      <td th:text="${personnage.compte.nom_utilisateur}"></td>
      <td th:text="${personnage.classe.nom_classe}"> </td>
      <td th:text="${personnage.arme.nom_arme}"></td>
      <td>
        <form action="/personnagesChange" method="post">
          <input type="hidden" name="personnageId" th:value="${personnage.id_personnage}">
          <button type="submit">Edit</button>
        </form>
      </td>

      </tr>
      </tbody>
    </table>
    <img th:src="${imagePath}" alt="Image" style="width: 200px; height: 200px;">
    <form action="/personnages/delete" method="post">
      <input type="hidden" name="personnageId" th:value="${personnage.id_personnage}">
      <button type="submit">Supprimer le personnage</button>
    </form>
    <a th:href="@{'/JSON/classes/'+${personnage.classe.id_classe}}">JSON detail classe </a><br>
     <a th:href="@{'/JSON/armes/'+${personnage.arme.id_arme}}">JSON detail Arme </a><br>
    <a th:href="@{'/JSON/comptes/'+${personnage.compte.id_compte}}">JSON detail Compte </a>


</body>
</html>